{% extends 'header.html' %}
{% load static %}

{% block content %}

<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white me-2">
          <i class="mdi mdi-home"></i>
        </span>Update Student's Fees Details 
      </h3>
      
    </div>

    
    <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">#{{profile.id}} {{profile.first_name}}'s Profile 
                {% if profile.verified %}
                <i class="fa fa-check" style="color: rgb(0, 153, 255);"> Verified</i> 
                {% else %} 
                <i class="fa fa-times" style="color: rgb(255, 0, 0);"> Unverified</i> 
                {% endif %}
                {% if profile.aadhar_verified %}
                <br><br><i class="fa fa-check" style="color: rgb(0, 153, 255);"> Aadhaar</i> 
                {% endif %}
                {% if profile.fees_status %}
                <i class="fa fa-check" style="color: rgb(0, 153, 255);"> Fees</i> 
                {% endif %}
                {% if profile.profile_image_verified %}
                <i class="fa fa-check" style="color: rgb(0, 153, 255);"> Pic</i> 
                {% endif %}
            </h4> 
            <h4 style="color: red;">{{msg}}</h4>
              <p class="card-description"> Personal info </p>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">First Name</label>
                    <div class="col-sm-9">
                      <input type="text" readonly value="{{profile.first_name}}" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Last Name</label>
                    <div class="col-sm-9">
                      <input type="text" readonly value="{{profile.last_name}}" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">  
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Date of Birth</label>
                    <div class="col-sm-9">
                      <input class="form-control" value="{{profile.birth_date}}" readonly placeholder="dd/mm/yyyy" />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Mobile</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" readonly value="{{profile.mobile}}" />
                      </div>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" readonly value="{{profile.email}}" />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Address</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" readonly value="{{profile.address}}"/>
                      </div>
                    </div>
                </div>       
              </div>

            <form class="form-sample" action="{% url 'update_fees_details' profile.id %}" method="POST">
              {% csrf_token %}
              <p class="card-description"> Fees Details </p>
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Batch Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" readonly name="batch_name" placeholder="Enter Batch Name" value="{{profile.batch_name}}" />
                      </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Fees Status
                        {% if profile.fees_status %}
                        <i class="fa fa-check" style="color: rgb(0, 255, 136);"> Paid</i> 
                        {% else %} 
                        <i class="fa fa-times" style="color: rgb(255, 0, 0);"> Unpaid</i> 
                        {% endif %}
                      </label>
                      <div class="col-sm-4">
                        <div class="form-check">
                          <label class="form-check-label">
                            {% if profile.fees_status %}
                            <input type="radio" class="form-check-input" name="fees_status" id="membershipRadios1" value="True" checked> Paid </label>
                            {% else %}
                            <input type="radio" class="form-check-input" name="fees_status" id="membershipRadios1" value="True"> Paid </label>
                            {% endif %}
                        </div>
                      </div>
                      <div class="col-sm-5">
                        <div class="form-check">
                          <label class="form-check-label">
                            {% if profile.fees_status %}
                            <input type="radio" class="form-check-input" name="fees_status" id="membershipRadios2" value="False"> Unpaid </label>
                            {% else %}
                            <input type="radio" class="form-check-input" name="fees_status" id="membershipRadios2" value="False" checked> Unpaid </label>
                            {% endif %}
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="row">  
                
                <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Fees Paid</label>
                      <div class="col-sm-9">
                        <input class="form-control" type="number" required placeholder="Enter Paid Fees" name="fees_paid" value="{{profile.fees_paid}}"  />
                      </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Fees Amount</label>
                      <div class="col-sm-9">
                        <input class="form-control" type="number" required placeholder="Enter Fees Amount" name="fees_amount" value="{{profile.fees_amount}}"  />
                      </div>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <button class="btn btn-info btn-fw" type="submit">Update Details</button>
                      </div>
                    </div>
                </div>
              </div>
             
            </form>
          </div>
        </div>
      </div>

   
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2025. All rights reserved.</span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
    </div>
  </footer>
  <!-- partial -->
</div>

{% endblock %}