{% extends 'header.html' %}
{% load static %}

{% block content %}

<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white me-2">
          <i class="mdi mdi-home"></i>
        </span>Update Student's Batch Details 
      </h3>
      
    </div>

    
    <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">#{{profile.id}} {{profile.first_name}}'s Profile 
                {% if profile.verified %}
                <i class="fa fa-check" style="color: rgb(0, 153, 255);"> Verified</i> 
                {% else %} 
                <i class="fa fa-times" style="color: rgb(255, 0, 0);"> Unverified</i> 
                {% endif %}
                {% if profile.aadhar_verified %}
                <br><br><i class="fa fa-check" style="color: rgb(0, 153, 255);"> Aadhaar</i> 
                {% endif %}
                {% if profile.fees_status %}
                <i class="fa fa-check" style="color: rgb(0, 153, 255);"> Fees</i> 
                {% endif %}
                {% if profile.profile_image_verified %}
                <i class="fa fa-check" style="color: rgb(0, 153, 255);"> Pic</i> 
                {% endif %}
            </h4> 
            <h4 style="color: red;">{{msg}}</h4>
              <p class="card-description"> Personal info </p>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">First Name</label>
                    <div class="col-sm-9">
                      <input type="text" readonly value="{{profile.first_name}}" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Last Name</label>
                    <div class="col-sm-9">
                      <input type="text" readonly value="{{profile.last_name}}" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">  
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Date of Birth</label>
                    <div class="col-sm-9">
                      <input class="form-control" value="{{profile.birth_date}}" readonly placeholder="dd/mm/yyyy" />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Mobile</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" readonly value="{{profile.mobile}}" />
                      </div>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" readonly value="{{profile.email}}" />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Address</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" readonly value="{{profile.address}}"/>
                      </div>
                    </div>
                </div>       
              </div>

            <form class="form-sample" action="{% url 'update_batch_details' profile.id %}" method="POST">
              {% csrf_token %}
              <p class="card-description"> Batch Details </p>
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Batch Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" name="batch_name" placeholder="Enter Batch Name" value="{{profile.batch_name}}" />
                      </div>
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Fees Status
                        {% if profile.fees_status %}
                        <i class="fa fa-check" style="color: rgb(0, 255, 136);"> Paid</i> 
                        {% else %} 
                        <i class="fa fa-times" style="color: rgb(255, 0, 0);"> Unpaid</i> 
                        {% endif %}
                    </label>
                    <div class="col-sm-9">
                        <input class="form-control" value="{{profile.fees_paid}} / {{profile.fees_amount}}" readonly />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">  
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Batch Start Date</label>
                    <div class="col-sm-9">
                        {% if profile.batch_start_date == None %}
                        <input class="form-control" name="batch_start_date" onclick="text_con('start_date')" id="start_date" />
                        {% else %}
                        <input class="form-control" name="batch_start_date" type="text" onclick="text_con('start_date')" id="start_date" placeholder="{{profile.batch_start_date}}"  />
                        {% endif %}
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Batch End Date</label>
                      <div class="col-sm-9">
                        {% if profile.batch_end_date == None %}
                        <input class="form-control" name="batch_end_date" onclick="text_con('end_date')" id="end_date" />
                        {% else %}
                        <input class="form-control" name="batch_end_date" type="text" onclick="text_con('end_date')" id="end_date" placeholder="{{profile.batch_end_date}}"  />
                        {% endif %}
                        <!-- <input class="form-control" name="batch_end_date" type="text" onclick="text_con('end_date')" value="{{profile.batch_end_date}}" id="end_date" placeholder="dd/mm/yyyy" /> -->
                      </div>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                    <div class="form-group row">
                      <div class="col-sm-12">
                        {% if profile.verified and profile.password_reset and profile.profile_image_verified %}
                        <button class="btn btn-info btn-fw" type="submit">Update Details</button>
                        {% else %}
-                       <button class="btn btn-danger btn-fw" type="submit" disabled>Incomplete Profile</button>
-                       {% endif %}
                      </div>
                    </div>
                </div>
              </div>
             
            </form>
          </div>
        </div>
      </div>

   
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2025. All rights reserved.</span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
    </div>
  </footer>
  <!-- partial -->
</div>
<script>
    function text_con(tag_id){
        document.getElementById(tag_id).type = 'date';
    }
</script>

{% endblock %}