{% extends 'student/student-header.html' %}
{% load static %}

{% block content %}

    <div id="hero" class="hero overlay">
        <div class="hero-content">
            <div class="hero-text">
                <h1>Your Garba story begins from here.</h1>
                <p>Get Register with Surat's one of best garba classes</p>
                <a href="{% url 'register' %}" class="btn btn-border">Register</a>
                <a href="{% url 'register' %}" class="btn btn-border">Login</a>
            </div><!-- /.hero-text -->
        </div><!-- /.hero-content -->
    </div><!-- /.hero -->

    <main id="main" class="site-main">

        <section class="site-section section-map-feature text-center">

            <div class="container">
                <h2>Garba class that holds a good repo in the industry</h2>
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <div class="counter-item">
                            <p class="counter" data-to="377" data-speed="2000">40+</p>
                            <h3>Garba types</h3>
                        </div><!-- /.counter-item -->
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="counter-item">
                            <p class="counter" data-to="1204" data-speed="2000">1000+</p>       
                            <h3>Students trained</h3>
                        </div> <!-- /.counter-item -->      
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="counter-item">
                            <p class="counter" data-to="459" data-speed="1000">1000+</p>
                            <h3>Happy Students</h3>
                        </div><!-- /.counter-item -->
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="counter-item">
                            <p class="counter" data-to="675" data-speed="1000">500+</p>
                            <h3>Prize won</h3>
                        </div><!-- /.counter-item -->
                    </div>
                </div>
            </div>
            
        </section><!-- /.section-map-feature -->

        <section class="site-section section-portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="heading-separator" style="color: black;">Memory Lane</h2>
                    <p class="subheading-text">Archieve Memories</p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="{% static 'student/assets/img/portfolio-1.jpg' %}" class="img-res" alt="">
                        </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="{% static 'student/assets/img/portfolio-2.jpg' %}" class="img-res" alt="">
                           </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="{% static 'student/assets/img/portfolio-3.jpg' %}" class="img-res" alt="">
                           </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="{% static 'student/assets/img/portfolio-4.jpg' %}" class="img-res" alt="">
                            </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="{% static 'student/assets/img/portfolio-5.jpg' %}" class="img-res" alt="">
                            </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="{% static 'student/assets/img/portfolio-6.jpg' %}" class="img-res" alt="">
                            </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="{% static 'student/assets/img/portfolio-7.jpg' %}" class="img-res" alt="">
                            </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="{% static 'student/assets/img/portfolio-8.jpg' %}" class="img-res" alt="">
                        </div><!-- /.portfolio-item -->
                    </div>
                </div>
            </div>
        </section><!-- /.section-portfolio -->

        

    </main><!-- /#main -->

    {% endblock %}