{% extends 'student/student-header.html' %}
{% load static %}
{% block content %}

<div id="hero" class="hero overlay subpage-hero contact-hero">
    <div class="hero-content">
        <div class="hero-text">
            <h1> Password Reset </h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item active">Password Reset</li>
            </ol>
        </div><!-- /.hero-text -->
    </div><!-- /.hero-content -->
</div><br><br><br>

<div class="row mt-10">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center heading-separator" style="color: black;">Reset Your Password</h2>
        {% if msg %}
        <h3 class="text-center heading-separator" style="color: red;">{{msg}}</h3>
        {% endif %}
        <form action="{% url 'password_reset' %}" method="POST" class="form">
            {% csrf_token %}
            <input type="hidden" name="email" value="{{student.email}}">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                      <label for="name">Password:</label>
                      <input type="password" name="password" required style="background-color: rgb(152, 235, 152);" placeholder="Enter New Password..." class="form-control" id="password">
                    </div>
                </div><br>
                <div class="col-sm-12">
                    <div class="form-group">
                      <label for="name"> Confirm Password:</label>
                      <input type="password" name="cpassword" required style="background-color: rgb(152, 235, 152);" placeholder="Repeat Your Password..." class="form-control" id="password">
                    </div>
                </div>
            </div><br>
            
            <div class="text-center mt-20">
                <button class="btn btn-green" type="submit">Reset Password</button>
            </div>
            
        </form>
      
    </div>
</div><br><br><br>
<br>


{% endblock %}