{% extends 'student/student-header.html' %}
{% load static %}

{% block content %}

<div id="hero" class="hero overlay subpage-hero contact-hero">
    <div class="hero-content">
        <div class="hero-text">
            <h1>Profile </h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
              <li class="breadcrumb-item active">Profile</li>
            </ol>
        </div><!-- /.hero-text -->
    </div><!-- /.hero-content -->
</div>
<div class="row mt-50">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center heading-separator" style="color: black;">Profile</h2>
        {% if msg %}
        <h3 class="text-center heading-separator" style="color: red;">{{msg}}</h3>
        {% endif %}
        <form action="{% url 'profile' %}" method="POST" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="name">First Name: <span style="color: rgb(0, 255, 106);"> <i class="fa fa-check"></i> </span> </label>
                      <input type="text" readonly value="{{student.first_name}}" name="fname" required style="background-color: rgb(152, 235, 152);" placeholder="Enter Your First Name..." class="form-control" id="fname">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="email">Last Name:<span style="color: rgb(0, 255, 106);"> <i class="fa fa-check"></i> </span></label>
                      <input type="text" readonly value="{{student.last_name}}" name="lname" required placeholder="Enter Your Last Name..." style="background-color: rgb(152, 235, 152);" class="form-control" id="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="name">Birth date:<span style="color: rgb(0, 255, 106);"> <i class="fa fa-check"></i> </span></label>
                      <input type="text" readonly value="{{student.birth_date}}" name="bday" required placeholder="Enter Your Birthday..." style="background-color: rgb(152, 235, 152);" class="form-control" id="bday">
                      <!-- <p style="color: red; font-size: smaller; margin-left: 30px;">*You can't change this field</p> -->
                        
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                      <label for="address">Address: <span style="color: rgb(0, 255, 106);"> <i class="fa fa-check"></i> </span></label>
                      <input type="text" name="address" readonly value="{{student.address}}" placeholder="Enter your address..." required class="form-control" style="background-color: rgb(152, 235, 152);" id="email">
                    </div>
                </div>
            </div><br>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="name">Email address: <span style="color: rgb(0, 255, 106);"> <i class="fa fa-check"></i> Verified </span></label>
                      <input type="email" name="email" readonly value="{{student.email}}" required style="background-color: rgb(152, 235, 152);" placeholder="Enter Your Email..." class="form-control" id="email">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="name">Mobile number: <span style="color: rgb(0, 255, 106);"> <i class="fa fa-check"></i> </span></label>
                      <input type="tel" name="mobile" readonly value="{{student.mobile}}" maxlength="10" minlength="10" required style="background-color: rgb(152, 235, 152);" placeholder="Enter Your Mobile numner..." class="form-control" id="mobile">
                    </div>
                </div>
                
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="name">Parent's Mobile no: <span style="color: rgb(0, 255, 106);"> <i class="fa fa-check"></i> </span></label>
                      <input type="tel" name="pmobile" readonly maxlength="10" value="{{student.parent_mobile}}" minlength="10" required placeholder="Enter Your Parent's number..." style="background-color: rgb(152, 235, 152);" class="form-control" id="mobile">
                      <!-- <p style="color: red; font-size: smaller; margin-left: 30px;">*You can't change this field</p> -->
                        
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" name="password" minlength="8" placeholder="Enter your strong Password..." class="form-control" style="background-color: rgb(152, 235, 152);" id="password">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                      <label for="password">Confirm Password</label>
                      <input type="password" name="cpassword" minlength="8" placeholder="Confirm your Password..." class="form-control" style="background-color: rgb(152, 235, 152);" id="password">
                    </div>
                </div>
            </div><br>
            <div class="row">
              <div class="col-sm-4">
                  <div class="form-group">
                    <label for="name">Profile pic
                        {% if student.profile_image %}
                         <span style="color: rgb(0, 255, 106);"> 
                            <a href="{{student.profile_image.url}}" target="_blank">
                                <i class="fa fa-check"></i> check image here </span>
                            </a>
                        {% endif %} 
                    </label>
                    <input type="file" name="profile_image"  style="background-color: rgb(152, 235, 152);" placeholder="Upload your pic..." class="form-control" id="profile_pic">
                    <p style="color: red; font-size: smaller; margin-left: 30px;">*Upload document less than 1.5 MB</p>
                    
                  </div>
              </div>
              <div class="col-sm-6 center">
                  <div class="form-group">
                    <label for="name">Aadhaar no:
                        {% if student.aadhar_verified %}
                         <span style="color: rgb(0, 255, 106);"> <i class="fa fa-check"></i> Verified </span>
                        {% else %}
                        <span style="color: red;"> <i class="fa fa-times"></i> Not Verified </span>
                        {% endif %}    
                    </label>
                    <input type="tel" name="aadhar" readonly value="{{student.aadhar}}" minlength="12" required style="background-color: rgb(152, 235, 152);" placeholder="Enter Your Aadhaar numner..." class="form-control" id="mobile">
                  </div>
              </div>
              
              <!-- <div class="col-sm-4">
                  <div class="form-group">
                    <label for="name">Aadhar Photo:</label>
                    <input type="file" name="aadhar_pic" placeholder="Enter Your ..." style="background-color: rgb(152, 235, 152);" class="form-control" id="aadhar_pic">
                    <p style="color: red; font-size: smaller; margin-left: 30px;">*Upload document less than 2 MB</p>
                      
                  </div>
              </div> -->
              
          </div><br>
          
          
            <div class="text-center mt-20">
                <button class="btn btn-green" type="submit">Update Profile</button>
            </div>
            
        </form>
        
        
      
    </div>
</div><!-- /.form -->
<div class="container">
    <h1 class="title"></h1>
</div>
<div class="container">
    <h1 class="title"></h1>
</div>

<script>
  const profile_pic = document.getElementById("profile_pic");

profile_pic.onchange = function() {
    if(this.files[0].size > 1572864) {
       alert("File is too big!");
       this.value = "";
    }
};

// const aadhar_pic = document.getElementById("aadhar_pic");

// aadhar_pic.onchange = function() {
//     if(this.files[0].size > 2097152) {
//        alert("File is too big!");
//        this.value = "";
//     }
// };
</script>

{% endblock %}