{% extends 'student/student-header.html' %}
{% load static %}

{% block content %}

<div id="hero" class="hero overlay subpage-hero contact-hero">
    <div class="hero-content">
        <div class="hero-text">
            <h1>Register </h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
              <li class="breadcrumb-item active">Register</li>
            </ol>
        </div><!-- /.hero-text -->
    </div><!-- /.hero-content -->
</div>
<div class="row mt-50">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center heading-separator" style="color: black;">Registration Form</h2>
        {% if msg %}
        <h3 class="text-center heading-separator" style="color: red;">{{msg}}</h3>
        {% endif %}
        <form action="{% url 'register' %}" method="POST" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="name">First Name: <span style="color: red;">*</span> </label>
                      <input type="text" name="fname" required style="background-color: rgb(152, 235, 152);" placeholder="Enter Your First Name..." class="form-control" id="fname">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="email">Last Name:<span style="color: red;">*</span></label>
                      <input type="text" name="lname" required placeholder="Enter Your Last Name..." style="background-color: rgb(152, 235, 152);" class="form-control" id="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="name">Birth date:<span style="color: red;">*</span></label>
                      <input type="date" name="bday" required placeholder="Enter Your Birthday..." style="background-color: rgb(152, 235, 152);" class="form-control" id="bday">
                      <!-- <p style="color: red; font-size: smaller; margin-left: 30px;">*You can't change this field</p> -->
                        
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                      <label for="address">Address: <span style="color: red;">*</span></label>
                      <input type="text" name="address" placeholder="Enter your address..." required class="form-control" style="background-color: rgb(152, 235, 152);" id="email">
                    </div>
                </div>
            </div><br>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="name">Email address: <span style="color: red;">*</span></label>
                      <input type="email" name="email" required style="background-color: rgb(152, 235, 152);" placeholder="Enter Your Email..." class="form-control" id="email">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="name">Mobile number: <span style="color: red;">*</span></label>
                      <input type="tel" name="mobile" minlength="10" maxlength="10" required style="background-color: rgb(152, 235, 152);" placeholder="Enter Your Mobile numner..." class="form-control" id="mobile">
                    </div>
                </div>
                
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="name">Parent's Mobile no: <span style="color: red;">*</span></label>
                      <input type="tel" name="pmobile" minlength="10" maxlength="10" required placeholder="Enter Your Parent's number..." style="background-color: rgb(152, 235, 152);" class="form-control" id="mobile">
                      <!-- <p style="color: red; font-size: smaller; margin-left: 30px;">*You can't change this field</p> -->
                        
                    </div>
                </div>
            </div><br>
            <div class="row">              
              <div class="col-sm-6 center">
                  <div class="form-group">
                    <label for="name">Aadhaar no: <span style="color: red;">*Enter without space</span></label>
                    <input type="tel" name="aadhar" minlength="12" maxlength="12" required style="background-color: rgb(152, 235, 152);" placeholder="Enter Your Aadhaar numner..." class="form-control" id="mobile">
                  </div>
              </div>
            </div><br>
            
            <div class="row">
              <div class="col-sm-12 center">
                  <div class="form-group">
                    <label for="name">Class Rules: <span style="color: red; "> <label for="" style="font: italic small-caps bold 12px/30px Georgia, serif;;">Read & follow it</label> </span></label>
                    <div class="form-control-textarea" style="background-color:  rgb(152, 219, 235); border-radius: 20px; margin: 2%;" >
                      <div style="padding-left: 2%; padding-right: 2%;">

                        <p style="color: black;">
 <br>&nbsp;&nbsp;<strong>1.</strong>  You must follow all the rules of the class.
 <br>&nbsp;&nbsp; <strong style="color: red;">2. You have only one chance to fill out registration form with correct details. if management finds any incorrect details then student may have to pay penalty charges (50 Rs/change) to correct those details. </strong> 
 <br>&nbsp;&nbsp;<strong>3.</strong> For Girls, <strong>Duppata</strong> is compulsory while come to class
 <br>&nbsp;&nbsp;<strong>4.</strong> The students coming for Raas-Garba must not engage in any anti-social behavior once they enter the class. If they do, then their admission will be terminated without any prior notice.
 <br>&nbsp;&nbsp;<strong>5.</strong> Student are coming to learn Raas-Garba enters the class, he/she should not go out of the class until the class time is over. In special cases, you   can go after taking permission from sir/mam.    
 <br>&nbsp;&nbsp;<strong>6.</strong> Smoking & Chewing Tobacco is prohibited in the class.
 <br>&nbsp;&nbsp;<strong>7.</strong> The time for learning Raas-Garba will be from <strong>8:00PM to 11:00PM,</strong> Students are requested to enter the class at the appointed time. Late entry will not be allowed.
 <br>&nbsp;&nbsp;<strong>8.</strong> Student are coming to learn Raas-Garba should not stand outside the class after the class time is over.
 <br>&nbsp;&nbsp;<strong>9.</strong> Student seeking admission must deposit the full fee within <strong>3 days</strong>  from the date of admission.
 <br>&nbsp;&nbsp;<strong>10.</strong> The admission fee will not be transferred or refunded under any circumstances.
 <br>&nbsp;&nbsp;<strong>11.</strong> The student coming to learn Raas-Garba should not bring any outsider to the class.
                        </p><br>
                      </div>

                    </div>
                  </div>
              </div>             
            </div><br>
          
            <div class="text-center mt-20">
                <button class="btn btn-green" type="submit">Sign up</button>
            </div>
            <div class="text-center mt-20">
                <button class="btn btn-green" style="background-color: brown;" type="reset">reset</button>
            </div>
        </form>
    </div>
</div><!-- /.form -->
<div class="container">
    <h1 class="title"></h1>
</div>
<div class="container">
    <h1 class="title"></h1>
</div>


{% endblock %}