{% extends 'student/student-header.html' %}
{% load static %}

{% block content %}

<div id="hero" class="hero overlay subpage-hero contact-hero">
    <div class="hero-content">
        <div class="hero-text">
            <h1>Register </h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item active">Register</li>
            </ol>
        </div><!-- /.hero-text -->
    </div><!-- /.hero-content -->
</div>
<div class="row mt-50">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center heading-separator">Registration Form</h2>
        <form action="{% url 'register' %}" method="POST" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="name">First Name:</label>
                      <input type="text" name="fname" required style="background-color: rgb(152, 235, 152);" placeholder="Enter Your First Name..." class="form-control" id="fname">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="email">Last Name:</label>
                      <input type="text" name="lname" required placeholder="Enter Your Last Name..." style="background-color: rgb(152, 235, 152);" class="form-control" id="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="name">Birth date:</label>
                      <input type="date" name="bday" required placeholder="Enter Your Birthday..." style="background-color: rgb(152, 235, 152);" class="form-control" id="bday">
                      <!-- <p style="color: red; font-size: smaller; margin-left: 30px;">*You can't change this field</p> -->
                        
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                      <label for="address">Address</label>
                      <input type="text" name="address" placeholder="Enter your address..." required class="form-control" style="background-color: rgb(152, 235, 152);" id="email">
                    </div>
                </div>
            </div><br>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="name">Email address:</label>
                      <input type="email" name="email" required style="background-color: rgb(152, 235, 152);" placeholder="Enter Your Email..." class="form-control" id="email">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="name">Mobile number:</label>
                      <input type="tel" name="mobile" minlength="10" required style="background-color: rgb(152, 235, 152);" placeholder="Enter Your Mobile numner..." class="form-control" id="mobile">
                    </div>
                </div>
                
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="name">Parent's Mobile no:</label>
                      <input type="tel" name="pmobile" minlength="10" required placeholder="Enter Your Parent's number..." style="background-color: rgb(152, 235, 152);" class="form-control" id="mobile">
                      <!-- <p style="color: red; font-size: smaller; margin-left: 30px;">*You can't change this field</p> -->
                        
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" name="password" minlength="8" required placeholder="Enter your strong Password..." class="form-control" style="background-color: rgb(152, 235, 152);" id="password">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                      <label for="password">Confirm Password</label>
                      <input type="password" name="cpassword" minlength="8" required placeholder="Confirm your Password..." class="form-control" style="background-color: rgb(152, 235, 152);" id="password">
                    </div>
                </div>
            </div><br>
            <div class="row">
              <div class="col-sm-4">
                  <div class="form-group">
                    <label for="name">Profile pic</label>
                    <input type="file" name="profile_pic"  style="background-color: rgb(152, 235, 152);" placeholder="Upload your pic..." class="form-control" id="pic">
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="form-group">
                    <label for="name">Aadhaar no:</label>
                    <input type="tel" name="aadhar" minlength="12" required style="background-color: rgb(152, 235, 152);" placeholder="Enter Your Aadhaar numner..." class="form-control" id="mobile">
                  </div>
              </div>
              
              <div class="col-sm-4">
                  <div class="form-group">
                    <label for="name">Aadhar Photo:</label>
                    <input type="file" name="aadhaar_pic" placeholder="Enter Your ..." style="background-color: rgb(152, 235, 152);" class="form-control" id="mobile">
                    <!-- <p style="color: red; font-size: smaller; margin-left: 30px;">*You can't change this field</p> -->
                      
                  </div>
              </div>
              
          </div><br>
            <div class="text-center mt-20">
                <button class="btn btn-green" type="submit">Sign in</button>
            </div>
            <div class="text-center mt-20">
                <button class="btn btn-green" style="background-color: brown;" type="reset">reset</button>
            </div>
        </form>
        
        
      
    </div>
</div><!-- /.form -->
<div class="container">
    <h1 class="title"></h1>
</div>
<div class="container">
    <h1 class="title"></h1>
</div>

{% endblock %}