{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Aaradhya Group</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'student/assets/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'student/assets/img/favicon.png' %}">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="{% static 'student/assets/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'student/assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'student/assets/css/responsive.css' %}" rel="stylesheet">


</head>
<body>

    <header id="masthead" class="site-header">
        <nav id="primary-navigation" class="site-navigation">
            <div class="container">

                <div class="navbar-header">
                   
                    <a class="site-title"><span>Aaradhya  </span>Group</a>

                </div><!-- /.navbar-header -->

                <div class="collapse navbar-collapse" id="agency-navbar-collapse">

                    <ul class="nav navbar-nav navbar-right">

                        <li><a href="{% url 'index' %}">Home</a></li>
                        
                        {% if request.session.email %}

                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if student %} {{student.first_name}} {{student.last_name}} {% else %} {{request.session.email}} {% endif%} <i class="fa fa-caret-down hidden-xs" aria-hidden="true"></i></a>

                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                              <li><a href="{% url 'profile' %}">profile</a></li>
                              <li><a href="">ID Card</a></li>
                              <li><a href="{% url 'logout' %}"> <i class="fa fa-sign-out"></i> Logout</a></li>
                            </ul>
                            
                        </li>
                        <li><a href="{% url 'logout' %}"> <i class="fa fa-sign-out"></i> Logout</a></li>

                        {% else %}
                        <li><a href="{% url 'register' %}">Registration</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                        <!-- <li><a href="">Gallery Coming soon</a></li>
                        <li><a href="">Coming soon</a></li> -->

                    </ul>

                </div>

            </div>   
        </nav><!-- /.site-navigation -->
    </header><!-- /#mastheaed -->

    {% block content %}

    {% endblock %}

    
    <footer id="colophon" class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <a class="site-title" style="color: black;"><span>Aaradhya </span>Group</a>
                    <p>Looking to learn Garba from the best in the locality? Join our Garba classes where tradition meets fun! Whether you're a beginner or a pro, our expert instructors will guide you through every step with energy and passion. Don’t miss out on the most vibrant dance experience in town—enroll today and dance your way to mastery!                    </p>
                    <!-- <p>We measure our success by the results we drive for our clients.</p> -->
                </div>
                <div class="col-lg-offset-4 col-md-3 col-sm-4 col-md-offset-2 col-sm-offset-0 col-xs-6 ">
                    <h3 style="color: black;">Keep in touch</h3>
                    <ul class="list-unstyled contact-links">
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:aaradhya.garba.group@gmail.com">aaradhya.garba.group@gmail.com</a></li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+917383463056">Naitik (+91) 7383463056 </a></li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+918000070505">Mitul (+91) 8000070505</a></li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+916355205655">Shraddha (+91) 6355205655</a></li>
                        <li><i class="fa fa-instagram" aria-hidden="true"></i><a target="_blank" href="https://www.instagram.com/aradhya_dodhiya_classes?igsh=bnh5emQ5cG53ZDBv">instagram Page</a></li>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i><p>1st Floor, Lauva Panch ni Wadi, Rampura, Surat</p></li>
                    </ul>
                </div>
                <div class="clearfix visible-xs"></div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="social-links">
                            <a class="instagram-bg" target="_blank" href="https://www.instagram.com/aradhya_dodhiya_classes?igsh=bnh5emQ5cG53ZDBv"><i class="fa fa-instagram"></i></a>
                            <a class="facebook-bg" href="#"><i class="fa fa-facebook"></i></a>
                        </div><!-- /.social-links -->
                    </div>
                    <div class="col-xs-4">
                        <div class="text-right">
                            <p>&copy; Aaradhya Group</p>
                            <p>All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.copyright -->
    </footer><!-- /#footer -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'student/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'student/assets/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'student/assets/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'student/assets/js/jquery.countTo.min.js' %}"></script>
    <script src="{% static 'student/assets/js/jquery.shuffle.min.js' %}"></script>
    <script src="{% static 'student/assets/js/script.js' %}"></script>
  
</body>
</html>